@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.__titleH1{

    font-family: 'Lobster Two', cursive;
}